# Practical Activity: Python Basics

This notebook is designed to reinforce the concepts introduced in Lesson 3 of Unit 1 of the Biology and Computation course. It will cover:

* Creating Objects and Variables
* Manipulating them with Operators
* Calling external functions
* Getting experience using Python and Jupyter Notebooks.

Please work through the material presented here and add code in to the cells as indicated.

## Initial Setup

Before you start working through the exercises below, please make sure you run the Python cell below that will set up everything you will need to check your answers.

In [2]:
from unit_1_library import *

## Objects and Variables

To start with, let's create some variables. In the cell below, can you:

* Create an integer variable called '`myint`'
* Create a floating point (decimal) variable called '`myfloat`'
* Create a string (text) variable called '`mystr1`'
* Create another string (text) variable called '`mystr2`' and assign it the same *value* as `mystr1`

Run the cell after that to check if you've got it right!

### Important Info
* You can create a variable using the assignment operator:
```
<variable name> = <value>
<variable name> = <variable name>
```

In [3]:
myint = 7
myfloat = 56.8
mystr1 = "pina coladas"
mystr2 = "pina coladas"

In [4]:
check_answers_l3_ex1(globals())

Well done - you've created an integer!
Well done - you've created a float!
Well done - you've created a string!
Well done - your mystr2 variable equals the mystr1 variable

You've now created 3 objects in the computer's memory and assigned variables (labels) to them so you can refer to them later in your code. We can query what these are in a couple of ways:

* using the `print(...)` function
* using the `%whos` 'magic' function

Try these in the cell below:

In [5]:
print(myint, myfloat, mystr1, mystr2)

7 56.8 pina coladas pina coladas

In [6]:
%whos

Variable                Type        Data/Info
---------------------------------------------
check_answers_l3_ex1    function    <function check_answers_l3_ex1 at 0x7fa6ec1dcaf0>
check_answers_l3_ex2    function    <function check_answers_l3_ex2 at 0x7fa6ec1dcca0>
check_answers_l3_ex3    function    <function check_answers_l3_ex3 at 0x7fa6ec1dcd30>
check_answers_l3_ex4    function    <function check_answers_l3_ex4 at 0x7fa6ec1dcdc0>
check_answers_l4_ex1    function    <function check_answers_l4_ex1 at 0x7fa6ec19e0d0>
check_answers_l4_ex2    function    <function check_answers_l4_ex2 at 0x7fa6ec19e310>
dna1                    function    <function dna1 at 0x7fa6ec1dcee0>
dna2                    function    <function dna2 at 0x7fa6ec1dcf70>
dna3                    function    <function dna3 at 0x7fa6ec19e040>
dna_analyser_v1         function    <function dna_analyser_v1 at 0x7fa6ec19e1f0>
dna_analyser_v2         function    <function dna_analyser_v2 at 0x7fa6ec19e280>
dna_experiment_output   function    <function dna_experiment_<...>output at 0x7fa6ec19e3a0>
generate_dna_sequence   function    <function generate_dna_se<...>quence at 0x7fa6ec19e160>
get_time                function    <function get_time at 0x7fa6ec19e430>
myfloat                 float       56.8
myint                   int         7
mystr1                  str         pina coladas
mystr2                  str         pina coladas
random                  module      <module 'random' from '/u<...>b64/python3.9/random.py'>

## Operators and Manipulating Objects

Now you have saved some information in objects and labelled them with variable names, you can start to do calculations and manipulate them. For this, we'll use operators. Add code to the cell below that does the following:

* Set a variable `var3` equal to the result of adding the first 5 integers (1, 2, 3, 4, 5) together in one line
* Set a variable `var4` equal to the result of multiplying `var1` by `var2`
* Set a variable `var5` equal to the result of dividing `var1` by `var2`

Run the next cell to check you've got it right!

### Important Info

* These exercises will use the basic arithmetic operators: 

```
+, -, *, /
```

In [17]:
var1 = 9
var2 = 7
str1 = "abc"

################## ADD YOUR CODE UNDER THIS LINE ###################

var3 = 1+2+3+4+5
var4 = var1*var2
var5 = var1/var2

In [18]:
check_answers_l3_ex2(globals())

var3 is correct!
var4 is correct!
var5 is correct!

This covers the basic arithmetic operations on numerical objects. Some of these operators, as well as others, can also be used on different types of object. For example, try the following:

* `print` the result of multiplying `var2` by `str1`
* `print` the middle character of the variable `str1` - use the array operator `[]` and don't forget collections start from index 0 in Python!
* `print` the result of dividing `str1` by `var2` - note this will cause an error!

In [12]:
print(var2*str1)

abcabcabcabcabcabcabc

In [14]:
print(str1[1])

b

In [15]:
print(str1/var2)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

As you can see, operators do different things (and sometimes don't work at all!) depending on the *types* of objects they are being used on.

## Calling External Functions

As mentioned in the course material, it is a fundamental skill of programming to reuse code as much as possible to reduce the amount of code you have to write. Using external functions is a big part of this and you've already seen this in action with the `print` function. In this section you'll get experience using other types of function.

Add code to the cell below that does the following:

* Sets a variable `num1` to the absolute value of `-78.2` - use the function `abs(..)`
* Sets a variable `len1` to the length of variable `str2` - use the function `len(..)`
* Convert `num1` from a number to a string variable and set `str3` equal to this - use the function `str(..)`
* Convert `str3` *back* to a number from a string variable and set `num2` equal to this - use the function `float(..)`
* Try to convert `str3` back to a number from a string using the function `int(..)` - **this will produce an error!**

Run the third cell to check you've got it right!

In [21]:
str2 = "Hello everyone"

################## ADD YOUR CODE UNDER THIS LINE ###################

num1 = abs(-78.2)
len1 = len(str2)
str3 = str(num1)
num2 = float(str3)
int1 = int(str3)

ValueError: invalid literal for int() with base 10: '78.2'

In [22]:
check_answers_l3_ex3(globals())

num1 is correct!
len1 is correct!
str3 is correct!
num2 is correct!

You can also call functions that are provided by an object's type using the messaging or dot (`.`) operator, e.g.
```
mystr.upper()
```
This is asking Python to call the function named `upper` which is provided by the object labelled with the variable name `mystr`.

Try this out in the cell below: Create a variable `mystr` as a string and then call the `upper` function on it:

In [23]:
mystr = "basketball"
mystr.upper()

'BASKETBALL'

There are many functions provided by the string type. To find out all the options you can search the internet for 'python string documentation' or just go to the official Python documentation here:

https://docs.python.org/3/library/stdtypes.html#string-methods

You can also get some information from Jupyter as well. If you type `mystr.` and press the `Tab` key, a list should pop up of all the functions and variables provided by that object. Try this in the cell below!

In [ ]:
mystr.

Using this knowledge, find and use functions provided by the string class that does the following with the `mystr3` variable declared below:

* Counts the number of 'e's
* Splits up the variable into words
* Replaces the word 'fox' with duck

Set the result of each one to `myvar1`, `myvar2` and `myvar3` respectively and use the cell after to check your results.

In [30]:
mystr3 = 'The quick brown fox jumps over the lazy dog'

################## ADD YOUR CODE UNDER THIS LINE ###################

myvar1 = mystr3.count('e')
myvar2 = mystr3.split()
myvar3 = mystr3.replace('fox', 'duck')

In [31]:
print(myvar1, myvar2, myvar3)

3 ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] The quick brown duck jumps over the lazy dog

In [32]:
check_answers_l3_ex4(globals())

myvar1 is correct!
myvar2 is correct!
myvar3 is correct!

Hopefully this has given you some experience with objects, variables and functions but do have a go yourself to try to build on this work. You should now have everything you need to tackle the main activity in Lesson 4!